/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, .2);
}

.content span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content span:nth-child(1) {
  transform: rotate(0deg);
}

.content span:nth-child(2) {
  transform: rotate(90deg);
}

.content span:nth-child(3) {
  transform: rotate(180deg);
}

.content span:nth-child(4) {
  transform: rotate(270deg);
}

.content span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: var(--jazz2);
  transform: scale(0);
  animation: animate 2s linear infinite;
}

.content span:nth-child(1)::before {
  animation-delay: 0s;
}

.content span:nth-child(2)::before {
  animation-delay: .5s;
}

.content span:nth-child(3)::before {
  animation-delay: 1s;
}

.content span:nth-child(4)::before {
  animation-delay: 1.5s;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  25% {
    transform: scaleX(1);
    transform-origin: left;
  }

  25.000001% {
    transform-origin: right;
  }

  50%,
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}